*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #566573 ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0%;
  padding: 0%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/***************************************************************************************************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FF5A5F;
}
.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}
.search-bar input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
  /* cursor: not-allowed; */
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-menu li {
  position: relative;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-icon:hover .dropdown-menu {
  display: block;
}


/********************************* Segundo Carousel**************************************************/
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}




/*********************************Footer**************************************************/

.Pie-pagina{
  width: 100%;
  background-color:  #0a141d;
  margin-top: 500px;
}
.Pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.Pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pie-pagina .grupo-1 .box figure img{
  width:250px;
}
.Pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.Pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.Pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2023;
  text-align: center;
  transition: all 300ms ease;
}
.Pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.Pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.Pie-pagina .grupo-2 small{
  font-size: 15px;
}



/*****************************************DEMAS ESTILOS*************************************************************/ 
.Btn-Tipoalojamiento{
  position: relative;
  top: -800px;
  left: -100px;
  max-width: 300px;
  margin: 0 auto;
  right: 550px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Btn-Tipoalojamiento {
  display: flex;
  margin-right: 10px;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}

/******************************************************************************************************/

.Btn-Alojamientos{
  position: relative;
  top: -1030px;
  right: 600px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px ;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Btn-Alojamientos  {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}



.Btn-Servicios{
  top: -900px;
  right: 600px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;

}

.Btn-Servicios{
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}

.Btn-ServicioRelacion{
  position: relative;
  top: -1200px;
  left: 650px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.Btn-ServicioRelacion  {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}

.Btn-CrearImagine{
  top:-1100px;
  right: 600px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Btn-CrearImagine {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}


/*************************************************************************************************************/
.TablaDatos{
  position: relative;
  left: 150px;
  border: 1px solid #000;
  border-collapse: separate;
  border-spacing: 5px;
}


.tablaDatos td , th{
  position: relative;
  left: 150px;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
}
